:root {
	/* A color theme */
	--col10: #F7882F; /* apricot */ 
	--col60: #6B7A8F; /* blueberry */
	--col30: #F7C331; /* citrus */
	--col60b: #DCC7AA; /* apple core */
	--col-wht: #EFEFEF; /*neutral*/
	--col-blk: #222222; /*neutral*/
}

*{
	box-sizing: border-box;
}

body{
	background-color: var(--col-wht);
	font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
	color: var(--col-blk);
	font-size: 18px;
}

h1{
	text-align:  center;
	color: var(--col10);
	font-size: 50px;
}


h1.recipe-hdr1{
	font-size: 40px;
}


.recipe-list{
	text-align:  center;
	max-width: 400px;
}

.recipe-icon{
	display: block;
	width: 180px;
	height:120px;
	background-size: cover;
	text-align:  center;
	font-weight: bolder;
	font-variant: small-caps;
	font-size: 22px;
	color:  var(--col-wht);
	text-shadow: 1px 2px 6px var(--col-blk);
	padding-top: 5px;
	margin-top:  10px;
}

.recipes-list a {
	text-decoration: none;
}

.recipe-hdr2{
	color: var(--col30);
	font-size: 25px;
	font-variant: small-caps;
}

.note{
	color: var(--col60);
	font-size: 13px;
}

nav a,
footer a{
	color: var(--col60);
	font-size: 16px;
	font-weight: bolder;
	font-variant: small-caps;
}

.steps-list strong{
	font-weight: bolder;
	font-variant: small-caps;
	color: var(--col60);	
}

.enjoy{
	font-weight: bolder;
	font-variant: small-caps;
	color: var(--col10);	
}